<head>
<title> 首页-TooFantasy </title>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
</br>
<center>
	</br>	
	<iframe id="api_iframe_51240" name="api_iframe_51240" src="" width="1200" height="800" scrolling="no" frameborder="0"></iframe> 
	<script type="text/javascript"> 
	document.getElementById("api_iframe_51240").src = "http://www.51240.com/apiiframe/?api_from=51240&api_url=http://keyboard.51240.com/&api_width=98%&api_backgroundcolor=FFFFFF";
	</script>
</center>
